    .textarea-container {
      position: relative;
    }

    .textarea-overlay {
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent;
      border-color: transparent;
    }

    #textarea1 {
      color: rgb(182, 179, 179);
      resize: none;
      height: 180px;
    }

    #textarea2 {
      color: black;
      resize: none;
      height: 180px;
    }